
[MESSAGE CONTROL]

disable=invalid-name,
	line-too-long,
	wildcard-import,
	unused-wildcard-import,
	trailing-newlines,
	consider-using-f-string,
	too-few-public-methods,
	no-self-use,
	missing-module-docstring,     # I'll do it later! He said, and then never did it.
	missing-function-docstring,   # I'll do it later! He said, and then never did it.
	missing-class-docstring,      # I'll do it later! He said, and then never did it.
	duplicate-code,
	bare-except,
	broad-except,

