

[MASTER]

ignore-paths=^melodomatic/test/.*$,
             ^melodomatic/vizcurses/.*$,

[MESSAGE CONTROL]
disable=invalid-name, # there's nothing wrong with 1-letter variables!
	line-too-long,
	wildcard-import,
	unused-wildcard-import,
	trailing-newlines,
	consider-using-f-string,
	too-few-public-methods,
	no-self-use,
	duplicate-code,
	bare-except,
	broad-except,
	unspecified-encoding,

[REFACTORING]
max-nested-blocks=6

[DESIGN]
max-args=9
max-returns=10
max-branches=24
max-statements=80
max-attributes=20

